@font-face {
    font-family: 'RobotoCondensed';
    src: url('./assets/roboto-condensed.light.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'EconomicaBold';
    src: url('./assets/economica-bold.ttf');
}

body {
    text-align: center;
    font-family: 'RobotoCondensed', sans-serif;
    font-size: 20px;
    padding: 2.5%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'EconomicaBold', serif;
}

.track {
    margin: 25px;
    position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
    cursor: pointer;
}
.track-image {
    width: 250px;
    height: 250px;
}
.track-text {
    position: absolute;
    width: 250px;
    bottom: 0;
    background-color: black;
    color: white;
    padding: 5px;
}
.track-icon {
    position: absolute;
    bottom: 100px;
    left: 100px;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    opacity: 0.8;
}
